@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins;
}

@font-face {
	font-family: poppins;
	src: url(Poppins-Regular.ttf);
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #54300e;
  text-decoration: none;
}
header {
  background: rgba(255, 255, 255, 0.74);
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.logo {
  height: 73px;
  width: 73px;
  cursor: pointer;
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: #08a9;
}

.home {
  background-image: url(./img/background-home.png);
  background-size: cover;
  height: 850px;
}

/* punya aboutus */
.about-us {
  background-image: url(./img/about-us.png);
  background-size: cover;
  height: 458px;
}
.about-container {
  background: rgba(100, 58, 34, 0.76);
  width: 1440px;
  height: 458px;
  margin: 0 auto;
}
/* end aboutus */

/* punya visimisi */
.our-vision {
  background-image: url(./img/our-vision.jpg);
  background-size: cover;
  height: 940px;
}
.wrapper-vision {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}
.content-vision {
  width: 100%;
  height: 50%;
}
.content-value {
  width: 100%;
  height: 50%;
}
.content-space {
  float: left;
  width: 50%;
  height: 100%;
}
.content-space img {
  margin: 30px 45px;
}
.text-list {
  color: black;
  font-family: "Poppins";
  margin-top: 30px;
}
.visimisi {
  margin-top: 70px;
}
.text-list h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  padding-bottom: 5px;
}
.text-list h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.text-list p {
  size: 12px;
  line-height: 18px;
  padding: 5px;
  line-height: 25px;
}
/* end visimisi */

/* punya sejarah */
.container_history{
  background-image: url(./img/1871-b110ae3636-kreavi.png);
background-size: cover;
  
}
.background_history{
  background: rgba(100, 58, 34, 0.76);
  width: 1440px;
  height: 682px;
  margin: 0 auto;
}
.judul_history h2{
font-family: 'Poppins', sans-serif;
height: 50px;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 10px;
text-align: center;
}
.judul_history{
  padding-top: 100px;
  color: white;
}
.judul_history p{
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
text-align: center;
margin-bottom: 10px;
}
.content_history{
  display: flex;

}
.content_1, .content_2, .content_3 {
background: rgba(255, 255, 255, 0.89);
width: 327px;
height: 380px;
border-radius: 10px;
margin-right: 40px;
margin-top: 51px;
}
.content_1{
  margin-left: 190px;
}
.image_history{
  margin-left: 30px;
  margin-right: auto;
  margin-top: -35px;
}
.content_history p{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  display: inline-block;
}
.content_1 p,.content_2 p {
  margin-left: 48px;
  margin-right: 49px;
  margin-top: 42px;
}
.content_3 p {
  margin-left: 44px;
  margin-right: 49px;
  margin-top: 37px;
}
/* akhir sejarah */

/* css testi */
.testimony {
	height: 640px;
	background-image: url(./img/testimony_background.png);
	background-size: cover;
	opacity: 0.8;
	text-align: center;
}
.testimony .wrapper_testimony {
	background-color: rgba(0,0,0,0.7);
	width: 1440px;
	height: 640px;
	padding: 25px;
	color: white;
	font-family: poppins;
	margin: 0 auto;
}
.testimony h2 {
	font-size: 36px;
	margin: 0;
	font-weight: bold;
}
.testimony p {
	margin-top: 10px;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 20px;
}
.testement {
	margin: 0 auto;
	text-align: center;
}
.comment {
	width: 404px;
	height: 224px;
	border: 3px solid #FFF;
	border-radius: 25px;
	margin: 27px 20px;
	display: inline-block;
	background-color: rgba(255,255,255,0.3);
	padding: 28px;
}
.comment:hover {
	transition: all 1s;
	border: 5px solid #FFF;
	background-color: rgba(255,255,255,0.7);
}
.comment .user {
	width: 100%;
	height: 84px;
	margin-bottom: 10px;
}
.comment .user img {
	border-radius: 40px;
	float: left;
}
.comment .user .info {
	text-align: left;
	float: left;
	color: #000000;
	margin-left: 15px;
	margin-top: 15px;
	font-size:16px;
}
.name {
	font-size: 19px;
	font-weight: bolder;
}
.from {
}
.comment .user .star{
	float: right;
	margin-top: 23px;
}
.star span {
	color: #000;
	font-weight: bolder;
	font-size: 18px;
	float: left;
	margin-right: 3px;
}
.star img {
	width: 24px;
	height: 24px;
}
.comment p {
	width: 338px;
	height: 63px;
	font-family: poppins;
	color: #000000;
	font-size: 14px;
	text-align: left;
	font-weight: bold;
	position: absolute;
}
.nav {
	width: 100%;
}
.nav .wrapper-nav {
	width: 100px;
	margin: 0 auto;
	display: block;
}
.nav ul {
	list-style-type: none;
	display: flex;
}
li {
	margin: 0 5px;
}
.rounded {
	height: 22px;
	width: 22px;
	border-radius: 11px;
	background-color: #C4C4C4;
}
.nav .prevnext {
	float: right;
	display: block;
	margin-right: 45px;
}
.nav .prevnext .btn {
	width: 47px;
	height: 47px;
	float: left;
	background-color: #C4C4C4;
	border-radius: 23px;
	margin: 0 8px;
}
.nav .prevnext .btn img {
	width: 20px;
	height: 32px;
	margin-top: 7px;
}
/* end css testi */

/* punya footer */
.footer{
  background: #000000;
}
.footer_wrapper{
width: 1441px;
height: 141px;
margin: 0 auto;
}
.footer-left, .footer-mid, .footer-right{
  float: left;
}
.sosmed{
  margin: 38px 30px 47px 121px;

}
.logo-footer{
  margin-top: 24px;
  margin-bottom: 46px;
}
.footer-mid p{
  display: inline-block;
  float: left;
  color: white;
  margin-right: 98px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.footer-mid a{
text-decoration: none;
font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
color: white;
}
.footer-mid{
  margin-left: 166px;
  margin-top: 50px;
  margin-bottom: 68px;
}
.footer-right img, .footer-right p{
  float: left;
}
.footer-right p{
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  display: inline-block;
  margin-left: 50px;
  padding-top: 45px;
}
.footer-right{
  margin-left: 100px;
}
/* akhir footer */

